.logo-name{
    /* font-weight: bold; */
    color: #ffffff;
    font-size: larger;
}

.nav{
  background-color: #03294993;
  /* position: fixed; */
}

.navbar {
    display: flex;
    justify-content: space-between;

  }
  
  .logo-name {
    margin-left: 20px;
  }
  
  .navbar-items {
    margin: 0px 20px;
  }

  .logout {
    margin-right: 20px;
  }


  
  /* If you want to style the links */
  .navbar-items a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set text color */
    margin-left: 10px; /* Add space between links */
  }
  