
.chat-interface {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #232323;
    color: white;
  }
  
  .chat-window {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
  }
  
  .input-bar {
    width: calc(100% - 460px);
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    position: fixed;
    bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .send-button {
    width: 60px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 21px;
    right: 120px;
  }
  
  .ai-model-dropdown {
    position: absolute;
    top: 30px;
    right: 20px;
    color: black;
    font-size: 16px;
  }

  select {
    padding: 10px 20px;
    border-radius: 6px;
  }
  
  .message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 50%;
  }

  .new-chat-button {
    background-color: black;
    padding: 10px 40px;
    border-radius: 5px;
    position: fixed;
    left: 45px;
    top: 40px;
  }
  


  /* Additional styles can be added as needed */
  