@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    padding: 10px;
  font-family: "Poppins", sans-serif;

  }
  
  .button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filename {
    color: white;
  }

  .file{
    border: 1px solid #6f6f6f;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: #373737d3;
    padding: 16px;
  }
  
  .upload-box{
    border: 1px solid #6f6f6f;
    border-radius: 10px;
  }

  #remove-button {
    cursor: pointer;
    margin-left: 10px;
    margin-top: -4px;
  }
  

  .save-button {
    /* margin-left: 38px;\ */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #2ecc71;
    color: white;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chat-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;

  }
  
  .message {
    background-color: #030a3ee9;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    color: white;
  }
  
  .question {
    color: white;

  }
  
  .answer {
    color: #a5a5a5;
  }
  
  .chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    color: black;
  }
  
  .send-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .send-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  